discord.py~=2.4.0
google-generativeai~=0.7.0
html2text~=2020.1.16
beautifulsoup4~=4.12.2
ffmpeg
pydub~=0.25.1
discord-ext-voice-recv
aiohttp~=3.9.2
yt-dlp
youtube-search-python
google
elevenlabs
python-dotenv
retry
