Flask
gunicorn
requests
discord.py @git+https://github.com/Rapptz/discord.py
openai
html2text
beautifulsoup4
SpeechRecognition
ffmpeg
pydub
PyNaCl
discord-ext-voice-recv
SpeechRecognition
aiohttp
yt-dlp
youtube-search